player-connection-mode=Listen
player-connection-guid=2848807651
player-connection-debug=0
player-connection-project-name=Crawler HUD
player-connection-ip=10.2.18.65
player-connection-ip=192.168.86.113
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=3b332d0e5da24a8dbdfedc3f5b9fa16e
